/* Global CSS */

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}


/* Fix FA icon color */

.fa {
    color: hsl(240, 18%, 77%);
    /* color: hsl(240, 18%, 77%) */
}

body,
html {}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    background: bottom left no-repeat url(/assets/img/pattern-curve.svg);
}

.container {
    margin: auto;
}

.one {
    margin-left: -12%;
}

.image {
    overflow: hidden;
    background: no-repeat url(/assets/img/pattern-bg.svg);
    background-size: contain;
    background-position: top center;
    padding: 50px;
}

img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -5px rgba(32, 32, 70, 0.5);
}

.quote {
    text-align: left;
    padding-top: 48px;
    background: url(/assets/img/pattern-quotes.svg) no-repeat;
    background-position: 20% top;
    background-size: 18%;
    margin-bottom: 32px;
    line-height: 1.3;
    font-weight: 200;
}

.author {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
}

.name {
    font-weight: 700;
    margin-right: 8px;
}

.job {
    color: hsl(240, 18%, 77%);
}


/* Slider */

.slider {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    height: 56px;
    width: 112px;
    border: 0;
    background-color: #FFF;
    margin-top: -80px;
    margin-left: 100px;
    box-shadow: 0px 7px 20px -5px rgba(32, 32, 70, 0.5);
    border-radius: 100px;
}

.slider>* {
    height: 56px;
    width: 56px;
    margin: auto;
    border: 0;
    background-color: #FFF;
}

button i {
    font-size: 18px;
}

.next {
    border-radius: 0px 100px 100px 0px;
}

.previous {
    border-radius: 100px 0px 0px 100px;
}


/* Attribution */

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Destkop CSS */


/* Mobile CSS */

@media (max-width: 768px) {
    body {
        height: calc(100vh - 48px);
        margin: 24px;
        background-size: 80%;
    }
    .one {
        margin: auto;
    }
    .image {
        padding: 30px;
    }
    img {
        max-height: 50vh;
        max-width: 50vh;
    }
    .quote {
        margin-top: 36px;
        margin-bottom: 24px;
        text-align: center;
        background-position: center top;
        background-size: 3.3em;
    }
    .slider {
        margin-left: auto;
        margin-right: auto;
        margin-top: -60px !important;
    }
    .slider>* {}
    button i {
        font-size: 18px !important;
    }
    .author {
        flex-direction: column;
        font-size: 0.5em;
    }
}

@media (max-width: 991px) {
    .quote {
        font-size: 20px;
        padding-top: 28px;
    }
    .slider {
        margin-top: -80px;
        width: 80px;
        height: 40px;
    }
    .slider>* {
        width: 40px;
        height: 40px;
    }
}