/* Global CSS */

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}


/* Fix FA icon color */

.fa {
    color: hsl(240, 18%, 77%);
    /* color: hsl(240, 18%, 77%) */
}

body,
html {
    width: 100vw;
    height: 100vh;
}

body {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    background: bottom left no-repeat url(/assets/img/pattern-curve.svg);
}

.one {}

.image {
    background: no-repeat url(/assets/img/pattern-bg.svg);
    background-size: contain;
    background-position: top center;
    padding: 40px;
}

img {
    border-radius: 5px;
    box-shadow: 0px 10px 20px -5px rgba(32, 32, 70, 0.5);
}

.quote {
    padding-top: 48px;
    background: url(/assets/img/pattern-quotes.svg) no-repeat;
    background-position: 20% top;
    background-size: 18%;
    margin-bottom: 24px;
    line-height: 1.2;
}

.author {
    display: flex;
    flex-direction: row;
    font-size: 0.6em;
}

.name {
    font-weight: 700;
    margin-right: 8px;
}

.job {
    color: hsl(240, 18%, 77%);
}


/* Slider */

.slider {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    height: 40px;
    width: 80px;
    border: 0;
    background-color: #FFF;
    margin-top: -72px;
    margin-left: 100px;
    box-shadow: 0px 7px 20px -5px rgba(32, 32, 70, 0.5);
    border-radius: 100px;
}

.slider>* {
    height: 40px;
    width: 80px;
    margin: auto;
    border: 0;
    background-color: #FFF;
}

.next {
    border-radius: 0px 100px 100px 0px;
}

.previous {
    border-radius: 100px 0px 0px 100px;
}


/* Attribution */

.attribution {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Destkop CSS */


/* Mobile CSS */

@media (max-width: 768px) {}